@charset "utf-8";

body {
    background-color: rgb(166, 255, 166);
}

h1#principal {
    text-align: center;
    background-color: green;
    color: white;
}

h1 {
    color: rgb(2, 109, 2);
}
h2 {
    color: rgb(55, 78, 42);
}

.basico {
    color: rgb(55, 78, 42);
    font-weight: bold;
}

.intermediario {
    color: rgb(179, 202, 31);
}

.avancado {
    color: red;
}
.destaque {
    background-color: green;
}